.Editor-sider-left {
    background-color: #ffffff;
}

.Editor-sider-right {
    background-color: transparent;
}

.Editor-sider-content {
    padding: 0 .5em;
}

.qna-list {

}

.qna-list-tool-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

.Editor-content {
    padding: 1em 3em;
    margin: auto;
    max-width: 64em;
}

.qna-item-edit {
}

.qna-item-edit-question textarea {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.preview {
    max-width: 100%;
    background-color: #ffffff;
}

.preview > *:not(header) {
    padding: 1em 1.5em;
}

.preview .question {
    text-align: center;
    margin: 0;
    padding: 0;
}

.Editor-sider-right {
    top: 0;
    right: 0;
}